<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TODO</title>
    
    <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet">

    <script src="{{url_for('static', filename='script.js')}}" defer></script>
</head>
<body>
    <div class="header">
        <h1>STICKY NOTES</h1>
        <span class="material-symbols-outlined" id="dark-mode-toggle">dark_mode</span>
    </div>
    <div class="sticky-notes">
        <div class="new-note-field sticky-note">
            <form action="/add" method="POST">
                <textarea type="text" name="task" rows="4" columns="50" placeholder="Add a new task here" required></textarea>
                <button class="submit-button" type="submit">ADD NOTE</button>
            </form>
        </div>
        {% for task in tasks|reverse %}
            <div class="sticky-note">
                <div class="note-text-box">
                    <p class="note-text">{{ task[1] }}</p>
                    <a class="delete-button" href="/delete/{{ task[0] }}"><span class="material-symbols-outlined">delete</span></a>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>