<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TODO</title>
    
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>TODO</h1>
    <form action="/add" method="POST">
        <textarea type="text" name="task" rows="4" columns="50" placeholder="Add a new task here" required></textarea>
        <button type="submit">Add</button>
    </form>
    <ul>
        {% for task in tasks %}
            <li>
                <p class="multiline">{{ task[1] }}</p>
                <a href="/delete/{{ task[0] }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>